.promoted-events
  - @promoted_events.each do |event|
    .event-card.card
      = image_tag("http://ultimateclassicrock.com/files/2014/10/Led-Zeppelin1.jpg", class: "card-image")
      .card-content
        .card-title=event.title



.upcoming-events
  - @events.each do |event|
    .event
      =image_tag(event.image.url(:thumb), class: "event-image")
      .event-details
        .event-title=event.performer
        .event-location
          %i.fa.fa-map-marker{aria: {hidden: "true"}}
          =event.location
        .event-time
          %i.fa.fa-calendar{aria: {hidden: "true"}}
          =event.start_date.to_s(:short)
      %span.event-price
        %i.fa.fa-ticket{aria: {hidden: "true"}}
        =event.price
