%h1 Kommende konserter
.events-month-list
  - @events.order(:start_date).group_by { |m| m.start_date.month }.each do |month, events|
    .month
      .days
        - events.group_by { |e| e.start_date.day }.each do |day, events|
          .day
            .day-title
              =day
              .month-name= Date::ABBR_MONTHNAMES[month]
            .events
              - events.each do |event|
                .event
                  %h2.event-title=event.title
                  .event-price=event.price
                  .event-time=event.start_date.to_s(:time)
