%h1 Kommende konserter
.events-month-list
  - @events.order(:start_date).group_by { |m| m.start_date.month }.each do |month, events|
    .month
      .days
        - events.group_by { |e| e.start_date.day }.each do |day, events|
          .day
            .day-title
              =day
              .month-name= Date::ABBR_MONTHNAMES[month]
            .events
              - events.each do |event|
                .event
                  %h2.event-title=event.title
                  .event-details
                    .event-meta
                      .event-price
                        %i.fa.fa-ticket-alt{ 'aria-hidden': 'true' }
                        =event.price
                        ,-
                      .event-time
                        %i.far.fa-clock{ 'aria-hidden': 'true' }
                        =event.start_date.to_s(:time)
                    .event-description=event.description
                    - if event.ticket_link.present?
                      = link_to "Billetter", event.ticket_link, { class: "btn btn-ticket", target: "blank"}

                  - if event.image.present?
                    .event-image=image_tag event.image.url(:thumb)
= will_paginate @posts
