<h3>Contact us</h3>
	<p>For general inquiries contact <strong>post@kuljakke.com</strong></p>
	<div class="person">
		<strong>Jørgen Sivertsen Jensås</strong> <br>
		Creative monkey <br>
		+47 404 64 160 <br>
		jorgen@kuljakke.com
	</div>
	<div class="person">
		<strong>Tor Eivind Palm</strong> <br>
		Creative donkey <br>
		+47 413 41 967 <br>
		eivind@kuljakke.com
	</div>
	<div class="person">
		<strong>Fabian Fjuk Egge</strong> <br>
		Creative manager<br>
		+47 924 61 382 <br>
		fabian@kuljakke.com
	</div>
