.header-wrapper {
  background-color: $header-bg-color;
  width: 100%;
  position: relative;

}

header {
  display: flex;
  max-width: 50em;
  margin: 0 auto;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;

  .logo {
    display: inline-block;
    flex: 0 0 30%;
    //width: 30%;
    img {
      width: 200px;
      margin: 3em 2em 0.5em 2em;

      @media (max-width: $on-phone) {
        width: 200px;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    color: #af111c;
    margin-bottom: 5px;
  }

}

nav {
  flex: 0 0 60%;
  //width: 60%;
  display: inline-block;
  margin-bottom: 0.5em;

  .nav-ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-left: 1em;
      padding-right: 1em;
    }
    a:link {
      font-size: 16px;
      font-weight: bold;
      color: #3A3D3B;
      text-decoration: none;
    }
    a:active {
      text-decoration: underline;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
