.pagination {
  a {
    text-decoration: none;
    color: $text-color;
  }

  .current {
    font-weight: 700;
    padding: 0 0.2em;
  }

  .previous_page {
    &::before {
      @extend .fa;
      content: "\f104";
      padding-right: 0.2em;
    }
  }
  .next_page {
    &::after {
      @extend .fa;
      content: "\f105";
      padding-left: 0.2em;
    }
  }

}
