* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f1f1f1;
}
header {
  background-image: url("/assets/bilde-fjell.jpg");
  //background-position: center;
  color: #fff;

  .logo {
    display: inline-block;
    width: 100%;
    img {
      width: 50px;
      float: right;
      margin: 30px 10px 5px 5px;

      @media (max-width: $on-phone) {
        width: 25px;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    color: #af111c;
    margin-bottom: 5px;
  }

}

nav {
  background: rgba(#000, 0.7);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px;
    }
    a:link {
      font-size: 18px;
      text-decoration: none;
    }
    a:active {
      text-decoration: underline;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
ul.list-inline {
  padding-left: 0px;
}
ul.list-inline > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}


.content {
  flex: 1;
  max-width: 50em;
  margin: 0 auto;
  width: 100%;
  padding: $padding-unit;

  h1 {
    font-weight: 100;
  }
}
.content h3 {
  text-align: center;
  font-weight: 400;
}
footer {
  margin-top: $spacing-unit;
  background-color: #FAFAFA;
  font-weight: 100;
}
.footer {
  flex: 1;
  align-items: center;
  max-width: 50em;
  margin: 0 auto $spacing-unit auto;
  display: flex;
  flex-direction: column;
}
a.no-style {
  color: #cccccc;
  text-decoration: none;
}
.footer-social {
  flex: 1;
}
.footer-copyright {
  font-size: 20px;
  flex: 1;
}
.footer-social a:hover {
  color: #af111c;
}
.img-circle {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 75px;
}

.thin-font {
  font-weight: 100;
}
.normal-font {
  font-weight: 400;
}
img {
  width: 100%;
}

.blog-time {
  font-style: italic;
  margin-top: 0;
}
.blog-title {
  margin-bottom: 5px;
  a {
    text-decoration: none;
  }
}

.notice {
  background-color: #DFF0D8;
  color: #3C763D;
  padding: $padding-unit;
}
.alert {
  background-color: #F2DEDE;
  color: #A94442;
  padding: $padding-unit;
}

.error {
  color: #A94442;
}

form {
  label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
  }
  input {
    padding: 0.5em 0.6em;
    display: block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.btn {
  padding: 0.5em 1em;
  color: #444;
  border: none;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}


table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  //border: 1px solid #cbcbcb;

  tr {
    border-bottom: 2px solid #DDD;
  }

  td, th {
    padding: 0.5em 1em;
  }
}