body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  font-family: 'Amatic SC', cursive;
}
footer {
  font-family: 'Amatic SC', cursive;
}
header > a {
  text-decoration: none;
  color: inherit;
}
header > a > h1 {

  text-align: center;
  font-weight: normal;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 0px;
}
header > h2 {
  margin-top: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  color: #af111c;
  margin-bottom: 5px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-ul {
  margin: 0px;
  padding: 0px;
}
ul.list-inline {
  padding-left: 0px;
}
ul.list-inline > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-ul > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-ul a:link {
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
.nav-ul a:active {
  color: #000;
  text-decoration: underline;
}
.nav-ul a:visited {
  color: #000;
  text-decoration: none;
}
.nav-ul a:hover {
  color: #000;
  text-decoration: underline;
}
.content {
  flex: 1;
  max-width: 50em;
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}
.content h3 {
  text-align: center;
  font-weight: 400;
}
footer {
  margin-top: 10px;
  background-color: #FAFAFA;
}
.footer {
  flex: 1;
  align-items: center;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
a.no-style {
  color: #cccccc;
  text-decoration: none;
}
.footer-social {
  flex: 1;
}
.footer-copyright {
  font-size: 20px;
  flex: 1;
}
.footer-social a:hover {
  color: #af111c;
}
.img-circle {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 75px;
}

.thin-font {
  font-weight: 100;
}
.normal-font {
  font-weight: 400;
}
img {
  width: 100%;
}