<h1>Admin control panel</h1>
<%= link_to("Blog", admin_blogs_path) %><br>
<%= link_to("Pages", admin_pages_path) %><br>
<%= link_to("Users", admin_users_path) %><br>
<%= link_to("Events", admin_events_path) %><br>
